@import url(https://necolas.github.io/normalize.css/3.0.2/normalize.css);

* {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

html, body, .wrapper {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-family: 'PT Sans' , sans-serif;
}
.wrapper {
	flex-direction: column;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;

}

.relative {
	position: relative;
}

img {
	width: 100%;
}

.container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.header {
	width: 100%;
	height: 12%;
	background: #2D728F;
}

.header__wrapper {
	width: 83%;
	margin: auto;
	height: 100%;
	align-items: center;
}

.header__logo {
	margin: auto;
}

.header__menu {
	margin: auto;
}

.header__menu_link {
	font-size: 0.85em;
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 0px #333;
	border-right: 1px solid #fff;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

/*.header__menu_link:after {
	content: "|";
	padding: 0 0 0 0.3em;
}*/

.header__menu_link:hover {
	color: rgb(255, 163, 163);
}

.header__disclaimer_link:hover {
	color: #fff;
	background: #9A1808;
	border-color: #9A1808;
}

.header__disclaimer {
	margin-right: 0;
}

.header__disclaimer_link {
	padding: 1px;
	border: 1px solid rgb(236, 130, 119);
	border-radius: 3px;
	background: rgb(236, 130, 119);
}

.description {
	width: 100%;
	/*height: 3%;*/
	background: #3B8EA5;
	color: rgba(255,230,129,1);
	text-shadow: 1px 1px 0px #333;
}

.description__text {
	font-size: 0.9em !important;
	margin: auto;
	font-weight: normal;
}

#map {
	width: 100%;
	height: 85%;
	background: url(../img/map-bg.png);
}

.about__main,
.disclaimer__main {
	width: 100%;
	height: 87%;
}

.about__main_wrapper,
.disclaimer__main_wrapper {
	width: 80%;
	margin: 0 auto;
	height: 100%;
}

.header__disclaimer_link_active {
	color: #fff;
	background: #9A1808;
	border-color: #9A1808;
}


/*
@media (min-width: 1100px) {
	.header__menu ul {
		padding-top: 1.3em;
	}
}

@media (max-width: 1099px) {
	.header__menu ul {
		padding-top: 0.3em;
	}
}

@media (max-width: 960px) {

	html, body {
		min-width: 100%;
	}

	.header,
	.description,
	#map {
		height: auto;
		display: block;
		width: 100%;
	}
	
	#map {
		min-height: 600px;
	}

	.description {
		padding: 0.3em 0;
	}

	.header__wrapper {
		width: 100%;
	}
	.header__logo,
	.header__menu {
		float: none;
		display: block;
		text-align: center;
		width: 100%;
	}

	.header__logo_link {
		display: block;
		width: 100%;
	
	}

	.header__logo_img {
		width: auto;
	}

	.header__menu ul {
		width: 100%;
		margin: 0;
		float: none;
		height: 100%;
		padding: 0;
	}

	.header__menu_list-item {
		float: none;
		padding: 3px 0;
	}


	.header__menu_list-item:after {
		content: "";
	}
	

}*/