@import url(https://necolas.github.io/normalize.css/3.0.2/normalize.css);

* {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-size: 100%;
	font-family: 'PT Sans' , sans-serif;
}

img {
	width: 100%;
}

.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;

}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}


/*Main content*/

.wrapper {
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

#header {
	background: #2D728F;
	display: block;
	    text-align: center;
	    padding: 0 6%
}

.header__home {
	display: inline-block;
	width: 20%;
	vertical-align: middle;
	/*float: left;*/
}

nav {
	width: 75%;
	/*float: right;*/
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin: 0;
}

.header__menu {
	list-style-type: none;
	padding: 0;
    margin: 0;
    float: right;
}

.header__menu_list-item {
	padding: 0 3px;
	float: left;
	color: #fff;
	text-shadow: 1px 1px 0px #333;
}

.header__menu_list-item {
	display: inline;
}

.header__menu_list-item:after {
	 content: "|"; 
}

.header__menu_link:hover {
	color: rgb(255, 163, 163);
}

.header__menu_link {
	display: inline-block;
	font-size: 0.85em;
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 0px #333;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.header__menu_link:hover {
	color: rgb(255, 163, 163);
}

.header__disclaimer_link {
	padding: 3px;
	border: 1px solid rgb(236, 130, 119);
	border-radius: 3px;
	background: rgb(236, 130, 119);
}

.header__disclaimer_link_active {
	color: #fff;
	border-radius: 3px;
	padding: 3px;
	background: #9A1808;
	border-color: #9A1808;
}

.header__disclaimer_link:hover {
	color: #fff;
	background: #9A1808;
	border-color: #9A1808;
}

.header__disclaimer {
	margin-right: 0;
}

.header__disclaimer:after {
	content: " " !important;
}



.menu-collapse {
	display: none;
}

/*Description block*/

#description {
	width: 100%;
	display: block;
	text-align: center;
	background: #3B8EA5;
	color: rgba(255,230,129,1);
	text-shadow: 1px 1px 0px #333;
}

.description__text {
	font-size: 0.9em !important;
	margin: 0;
	padding: 0;
	height: 100%;
	font-weight: normal;
}

/*Map block*/

#map {
	width: 100%;
	display: block;
	background: url(../img/map-bg.png);
}

/*Other pages*/

.about__main,
.disclaimer__main {
	width: 100%;
}

.about__main_wrapper,
.disclaimer__main_wrapper {
	width: 80%;
	margin: 0 auto;
}

.header__menu_link-about_active {
	border-bottom: 3px solid #fff;
}

.header__disclaimer_link_active {
	color: #fff;
	background: #9A1808;
	border-color: #9A1808;
}


/*Media*/

@media (max-width: 730px) {
	#header {
		padding: 0;
	}

	.header__home {
		width: 60%;
		margin-right: 5em;
	}

	.menu-collapse {
		display: inline-block;
		padding: 6%;
		margin-bottom: -7px;
		background: url(../img/menu-collapse.svg);
		background-size: cover;
		vertical-align: middle;

	}

	nav {
		display: none;
	}

	.menu-toggle {
		position: absolute;
		top: 0px;
		bottom: 0;
		left: 0px;
		z-index: 99999;
		width: 100%;
		background: rgba(0, 0, 0, 0.85);
	}

	.header__menu {
		float: none;
	}

	.header__menu_list-item {
		display: block;
		float: none;
		padding: 0.9em 0;
		border-top: 2px solid #716D6D;
		border-bottom: 2px solid #000;
	}

	.header__menu_list-item:after {
		content:"";
	}
}